.checklist table {
	border-collapse: collapse;
	font-size: 15px;
	color: black;
}
	
.checklist caption {
	padding: 18px;
	font-size: 18px;
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

.checklist th {
	font-size: 15px;
 	background-color: #000;
    color: #fff;
	padding: 15px 0px;
	text-align: center;
	background-color: #586261;
}

#body td {
	padding: 8px;
}

.checklist td {
	padding: 8px;
}

.checklist td td {
	padding: 0px;
}

.checklist ul {
	list-style-type: disc;
	padding-left: 40px;
}


.checklist ul ul{
	list-style-type: none;
}

.checklist tfoot td{
	margin: 15px;
}

.checklist tfoot h3 {
	text-decoration: underline;
}

.checklist tfoot h4 {
	text-align: center;
	font-size: 25px;
}

.checklist tfoot li {
	padding: 5px 0;
}

.modalmask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalmask:target {
	opacity: 1;
	pointer-events: auto;
}

.modalbox {
	width: 400px;
	position: relative;
	padding: 5px 20px 13px 20px;
	background: #fff;
	border-radius: 3px;
	overflow: scroll;
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
}

.resize {
	margin: 3% auto;
	width: 0;
	height: 0;
}

.modalmask:target .resize {
	width: 850px;
	height: 600px;
}

#modal20:target .resize {
	width: 600px;
	height: 300px;
}

#modal20:target li {
	padding: 10px;
}

.close {
	background: #606061;
	color; #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 1px;
	text-align: center;
	top: 1px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 3px; 
}

.close:hover {
	background: #FAAC58;
	color: #222;
}

.mostrarRuta {
	display: none;
	position: absolute;
}

.hoverRuta:hover .mostrarRuta {
	display: block;
}

#body table table td {
	padding: 2px 8px;
}

