#body h2 {
	font-size: 15px;
	font-weight: bold;
	color: #3B3B3B;
	margin: 15px 40px;
}

#body a {
	font-size: 13px;
	font-weight: bold;
}

#body a:hover {
	color: #B53332;
}

#body p {
	display: inline;
	margin-left: 80px;
}

#body table {
	padding-bottom: 10px;
	font-size: 13px;
}

.fila {
	color: #3B3B3B;
}

.fila:nth-child(odd) {
	background-color: #f6f6f6;
}

.fila:nth-child(even) {
	background-color: #dddddd;
}

#body tr:hover {
	color: #000;
	background: #f99;
	cursor: pointer;
}

#body th {
	color: #000;
	background-color: #fff;
	font-size: 15px;
	padding: 25px 0 10px 0;
}

#body .celda_cabecera {
	color: #fff;
	background-color: #000;
	font-size: 11px;
	padding: 4px 0;
}

#body td {
	padding: 2px 6px;
}

#plato {
	width: 200px;
	text-align: left;
}

#principal {
	width: 90px;
	text-align: center;
}

#papa {
	width: 90px;
	text-align: center;
}
#ensalada {
	width: 90px;
	text-align: center;
}
#postre {
	width: 90px;
	text-align: center;
}

